{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ورود</title>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body dir="rtl">
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow-sm p-4" style="width: 350px;">
      <h3 class="text-center mb-4">ورود</h3>
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">شماره تماس</label>
          <input 
            type="text" 
            class="form-control" 
            id="username" 
            name="username" 
            placeholder="مثال : 09123456789" 
            required
          >
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">گذرواژه</label>
          <input 
            type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            placeholder="گذرواژه خود را وارد کنید" 
            required
          >
        </div>
        <a href="{% url "register" %}">
          <p>حساب کاربری ندارم.</p>
        </a>
        <button type="submit" class="btn btn-primary w-100">ورود</button>
      </form>
    </div>
  </div>
  <script src="{% static 'sweetalert2.js' %}"></script>

  {% if error %}
  <script>
    Swal.fire({
      icon: "error",
      title: "خطا",
      text: "{{error}}",
    });
  </script>
  {% endif %}
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</body>
</html>
