{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ثبت‌نام</title>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'pwa/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'pwa/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'pwa/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'pwa/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'pwa/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'pwa/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'pwa/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'pwa/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'pwa/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'pwa/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'pwa/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'pwa/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'pwa/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'pwa/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#0050a0">
    <meta name="msapplication-TileImage" content="{% static 'pwa/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#0050a0">

</head>
<body dir="rtl">
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow-sm p-4" style="width: 350px;">
      <h3 class="text-center mb-4">ثبت‌نام</h3>
      <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="fname" class="form-label">نام</label>
          <input 
            type="text" 
            class="form-control" 
            id="fname" 
            name="fname" 
            placeholder="نام خودرا وارد کنید" 
            required
          >
        </div>
        <div class="mb-3">
          <label for="lname" class="form-label">نام خانوادگی</label>
          <input 
            type="text" 
            class="form-control" 
            id="lname" 
            name="lname" 
            placeholder="نام خانوادگی خودرا وارد کنید" 
            required
          >
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">شماره تماس</label>
          <input 
            type="text" 
            class="form-control" 
            id="username" 
            name="username" 
            placeholder="مثال : 09123456789" 
            required
          >
        </div>
        <div class="mb-3">
          <label for="national_id" class="form-label">کد ملی</label>
          <input 
            type="text" 
            class="form-control" 
            id="national_id" 
            name="national_id" 
            placeholder="کد ملی خود را وارد کنید" 
            required
          >
        </div>
        <div class="mb-3">
          <label for="blood_group" class="form-label">گروه خونی</label>
          <select name="blood_group" id="blood_group" class="form-control">
            {% for group in blood_groups %}
            <option value="{{group.0}}">{{group.1}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">گذرواژه</label>
          <input 
            type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            placeholder="گذرواژه خود را وارد کنید" 
            required
          >
        </div>
        <div class="mb-3">
          <label for="repassword" class="form-label">تکرار گذرواژه</label>
          <input 
            type="password" 
            class="form-control" 
            id="repassword" 
            name="repassword" 
            placeholder="گذرواژه خود را تکرار کنید" 
            required
          >
        </div>
        <a href="{% url "login" %}">
          <p>از قبل حساب کاربری دارم.</p>
        </a>
        <button type="submit" class="btn btn-primary w-100">ثبت</button>
      </form>
    </div>
  </div>
  <script src="{% static 'sweetalert2.js' %}"></script>

  {% if error %}
  <script>
    Swal.fire({
      icon: "error",
      title: "خطا",
      text: "{{error}}",
    });
  </script>
  {% endif %}

    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</body>
</html>
